<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>家族</title>
    <th:block th:replace="layout/head::head"></th:block>
</head>
<body>
    <div class="content-page">
        <div class="content">
          <!-- Start Content-->
          <div class="container-fluid">
    
            <!-- start page title -->
            <th:block th:replace="layout/nav-bar::nav-bar"></th:block>   
            <!-- end page title -->
  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
              	<div class="student_detail" id="student_detail">
                    
                </div>

                  <div class="search">
                      <div class="search1">
                          <div class="form-field form_search">
                              <select class="input-text js-input" name="classes" id="classes">

                              </select>
                          </div>
                          <div class="form-field form_search">
                              <select class="input-text js-input" name="events" id="events">

                              </select>
                          </div>
                      </div>

                      <div class="search2">
                          <div class="check_status">
                              <label class="">ステータス</label>
                              <input name="status" type="checkbox" class="status" value="未確認">未確認
                              <input name="status" type="checkbox" class="status" value="確認中">確認中
                              <input name="status" type="checkbox" class="status" value="修了">修了
                          </div>
                          <div class="search_btn">
                              <button id="searchBtn" class="btn searchIcon">
                                  <i class="fas fa-search"></i>
                              </button>
                          </div>
                      </div>
                  </div>
				
                <div class="table-responsive">
                  <table class="table table-centered mb-0 table-nowrap" id="postList">
                    <thead>
                      <tr class="text-center">
                        <th>学年</th>
                        <th>イ ベ ン ト</th>
                        <th>ステータス</th>
                        <th>通知</th>
                      </tr>
                    </thead>

                    <tbody>
                       
                    </tbody>
                  </table>
                </div>
                <!-- end .table-responsive-->
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->

      </div>
      <!-- end container-fluid -->

    </div>
    <!-- end content -->

  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->
</body>
<th:block th:replace="layout/script::script"></th:block>
<script src="/assets/js/parent/childParent.js"></script>
</html>
