* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.get-in-touch {
  max-width: 60%;
  margin: 50px auto;
  position: relative;
}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: -webkit-linear-gradient(
    left,
    #f4524d 0%,
    #5543ca 100%
  ) !important;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg, #a72879, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}
.input-info {
  text-align: center !important;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5% 15px 9%;
}

ul {
  display: flex;
  align-items: center;
}
ul.a {
  list-style: none;
  margin-right: 20px;
  color: blanchedalmond;
  font-size: 20px;
  padding-right: 30px;
}
.mess {
  border-radius: 15px;
}
button.a {
  margin-bottom: 20px;
  background: #34909f;
  margin-left: 321px;
  border-radius: 10px;
  font-size: 20px;
}
a.color {
  color: blanchedalmond;
}
li.a {
  text-decoration: none;
  padding-right: 30px;
}
div.pencil {
  position: relative;
  margin-bottom: 30px;
}
div.name{
  background-color: white;
    border-radius: 50%;
    width: 4 rem;
    height: 4 rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #2c5fef;
}
span.a {
  color: antiquewhite;
}
i.font {
  font-size: 20px;
}

span.footer {
  border-radius: 25px;
  background-color: white;
  font-size: 35px;
  margin-right: 10px;
}
/* i.custom {
  content: "\f1d8";
  color: #1b74db;
  font-size: 35px;
  border-radius: 5px;
} */

.send_custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send {
  background-color: white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #2c5fef;
}
.a-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  overflow: hidden;
  text-align: center;
}

h1:before,
h1:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}